.table {
    font-size: 0.9em;
    width: 100%;
}
#visitor {
    background-image: url("https://images.unsplash.com/photo-1561424412-6c2125ecb1cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#restaurant {
    background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#employee {
    background-image: url("Staff.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#AddLocation {
    background-image: url("Location.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#AddRide {
    background-image: url("Rides.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#AddVisitHotel {
    background-image: url("Entrance.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#AddVisitRestaurant {
    background-image: url("VisitRest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#Visitor {
    background-image: url("Visitor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#hotel {
    background-image: url("hotel.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#SearchEmployee {
    background-image: url("SearchEmployee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#SearchHotel {
    background-image: url("SearchHotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#SearchLocations {
    background-image: url("SearchLocation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#searchRestaurant {
    background-image: url("SearchRestaurant.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    text-align: center;
    padding-top: 10%;
    font-size: 23px;
    color: white;
}

#SearchRide {
    background-image: url("SearchRides.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#SearchVisitHotel {
    background-image: url("SearchHotel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#SearchVisitor {
    background-image: url("SearchVisitor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#SearchVisitRestaurant {
    background-image: url("SearchVisitRestaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding-top: 5%;
    font-size: 23px;
    color: white;
}

#mainNav {
    background: rgb(255 255 255 / 0.70);
    padding: 2px;
    color: rgb(255, 0, 0);
    top: 0;
    width:200px;
}

    #mainNav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        
    }

    #mainNav li {
        padding: 3px;
        text-decoration-style: none;
        
    }

    #mainNav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: px;
        color: red;
    }

    #mainNav li :hover {
        background: rgb(63, 61, 61);
    }

#index {
    background-image: url("Theme.jpg");
    background-repeat: no-repeat;
    background-size: fill;
    background-attachment: fixed;
    display: inline;
    background: rgb(255 255 255 / 0.70);
    padding: 2px;
    color: rgb(255, 0, 0);
    top: 0;
    width: 200px;
}

.row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    text-align: left;
}



fieldset {
    display: inline-block;
    border-block-color:white;
    border-spacing:2px;
    padding-right: 125px;
    padding-top: 30px;
    text-align: right;
    width: 390px;
    vertical-align: top;
    background-color: rgb(0,0,0,0.8);
    font-size: 20px;
}

#mainNav1 {
    background:rgb(255 216 0);
    width:300px;
}

fieldset1 {
    display: inline-block;
    
    
    text-align: right;
    vertical-align: top;
    background-color:white;
    font-size: 18px;
    text-align: center;
    border:double;
    border-block-color:black;
}

#Login {
    background-image: url("Login.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    text-align: center;
    color: white;
    padding-top: 15%;
    font-size: 23px;
    color: white;
}

#Table{
    
    align-content:center;
    font-size:30px;
    padding:30px;
    padding-bottom:25px;
}

#box1{
    padding-top:50px;
}

fieldset3 {
    align-content:center;
    align-items:center;
}