
#visitor {
    background-image: url("https://images.unsplash.com/photo-1561424412-6c2125ecb1cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    background-size: cover;
    text-align: center;
    padding-top: 10%;
    color: white;
}

#restaurant {
    background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    text-align: center;
    padding-top: 10%;
    color: white;
}

#employee {
    background-image: url("https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
    text-align: center;
    padding-top: 10%;
    color: white;
}

#hotel {
    background-image: url("hotel.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    padding-top: 10%;
    color: white;
}


#mainNav {
    background: rgb(0, 0, 0);
    padding: 2px;
    color: rgb(255, 0, 0);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

    #mainNav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    #mainNav li {
        display: inline;
        padding: 30px;
        text-decoration-style: none;
    }

    #mainNav a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 25px;
    }

    #mainNav li :hover {
        background: rgb(63, 61, 61);
    }

#index {
    background-image: url("Theme.jpg");
    background-repeat: no-repeat;
    background-size: fill;
    display: inline;
}

.row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.container {
    text-align: center;
}



fieldset {
    display: inline-block;
    padding: 4px 150px;
    text-align: right;
    width: 300px;
    vertical-align: top;
    background-color: rgb(0,0,0,0.8);

    
}